.answer {
  margin-bottom: 83px;



  &__wrapper {
    padding-bottom: 37px;
  }

  &__order {
    position: relative;

    padding: 0 40px;
    padding-top: 37px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      width: 100%;
      height: 100%;

      background-color: #ecf5fd;
    }
  }

  &__caption {


    padding-bottom: 71px;

    font-weight: 600;
    font-size: 24px;
    color: #393185;
    text-transform: uppercase;
    letter-spacing: 2.4px;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: -210px;
      z-index: 1;

      width: 84px;
      height: 3px;

      background-color: #e50a62;
    }
  }

  &__order-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &__order-caption {
    font-weight: 600;
    font-size: 18px;
    color: #393185;
  }

  &__order-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #393185;

    &--roll-up {
      position: relative;

      &::after {
        position: absolute;
        content: url(../img/icons/icon-arrow-up.png);
        top: 0;
        right: -16px;
      }
    }
  }

  &__order-list {
    padding: 0;

    list-style-type: none;
  }

  &__order-list li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 46px;

    counter-increment: step-counter;

    &::before {
      content: counter(step-counter);

      display: block;
      margin-right: 29px;
      padding: 5px 10px;

      font-weight: bold;
      font-size: 14px;
      color: #393185;

      background-color: #ffffff;
      border-radius: 50%;
    }
  }

  &__order-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #303030;
  }

  &__list {
    padding: 0;

    list-style: none;
  }

  &__list-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: #393277;

    &:hover {
      color: #e50a62;
    }
  }
}
