.header-up {
  margin-bottom: 28px;
  padding: 12px 0;

  border-bottom: 1px solid #e2e2ed;

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;

    list-style: none;
  }

  li:nth-child(5) {
    flex-basis: 20%;
  }

  &__list-link {
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    color: #2e2771;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.65px;

    &:hover {
      color: #e50a62;
    }
  }
}
